<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img src="/assets/trello.png" width="30" height="30"
                class="d-inline-block align-top" alt="">
            Random Card-Picker
        </a>    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    {{#link-to "random" class="nav-link"}}
                    Random
                    {{/link-to}}
                </li>
                <li class="nav-item">
                    {{#link-to "about" class="nav-link"}}
                        About
                    {{/link-to}}
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" disabled={{this.userObj.isLoggedIn}}
                    onclick={{action 'authentificateWithTrello'}}>
                    {{#if this.userObj.isLoggedIn}}
                    Authentificated as "{{this.userObj.userName}}"
                    {{else}}
                    Authentificate with Trello
                    {{/if}}
                </button>
            </form>
        </div>
    </nav>
    {{outlet}}
</body>

