<main role="main">
    <section class="jumbotron text-center jumbotron-fluid bg-dark text-light">
        <div class="container">
            <h1 class="jumbotron-heading">Random Trello-Card-Picker</h1>
            <p class="lead text-muted">Pick random cards out of a Trello-Board or Trello-Column.</p>
        </div>
    </section>
</main>
<div class="container">
    <h2>Random Trello-Card from a Board</h2>
    {{#if this.applicationController.userObj.isLoggedIn}}
        <div class="alert alert-success" role="alert">
            Authentificated as "{{this.applicationController.userObj.userName}}"
        </div>
    {{else}}
        <div class="alert alert-danger" role="alert">
            Authentification is missing.
        </div>
    {{/if}}

    {{#if this.applicationController.trelloObj.todoCard}}
        <hr>
        <h2>Your Card:</h2>
        <div class="card">
            <div class="card-header"><a href={{this.applicationController.trelloObj.todoCard.shortUrl}}><h3>{{this.applicationController.trelloObj.todoCard.name}}</h3></a></div>
            <div class="card-body">{{{expand-line-breaks this.applicationController.trelloObj.todoCard.desc}}}</div>
            <div class="card-footer">
                {{#each this.applicationController.trelloObj.todoCard.labels as |label|}}
                    <span class="badge badge-default">{{label.name}}</span>
                {{/each}}
            </div>
        </div>
        <hr>
    {{/if}}

    <form>
        <div class="form-group">
            <label for="board-list">Boards:</label>
            <select class="form-control" id="board-list" onchange={{action "getColumns" value="target.value"}}>
                {{#each this.applicationController.trelloObj.boards as |board|}}
                    <option value={{board.id}}>{{board.name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="columns-list">Possible Columns</label>
            <select class="form-control" id="columns-list" onchange={{action "bindFList" value="target.value"}}>
                {{#each this.applicationController.trelloObj.columns as |list|}}
                    <option value={{list.id}}>{{list.name}}</option>
                {{/each}}
            </select>
        </div>
        <button type="button" class="btn btn-dark btn-block mb-2" onclick={{action "pickCard" value="columns-list.value"}}>Pick a random Card</button>
    </form>
    {{outlet}}
</div>